
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  background-color: #222;
  padding: 0;
  margin: 0;
  font-family: 'Schoolbell', arial;
  margin: 0 auto;
}

h1 {
  color: #aaa;
  text-align: center;
  font-family: 'Cabin Sketch';
  font-size: 70px;
}

h2 {
  color: #aaa;
  text-align: center;
  font-family: 'Cabin Sketch';
  font-size: 40px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.board {
  margin: 0 auto;
  width: 312px;
}

.square {
  background-color: #aaa;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid black;
  display: table-cell;
  margin: auto;
  font-size: 4vw;
  text-align: center;
}

.line {
  margin: 0;
}

.choose-name {
  margin: 10px auto;
  width: 515px;
  padding: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background-color: #aaa;
  border-radius: 30px;
}

.type-symbol {
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
}

.type-name {
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 3px;
  border-radius: 5px;
}

#winnerAnnounce {
  color: #aaa;
  text-align: center;
  font-size: 50px;
  margin: 10px;
}

.turn {
  color: #aaa;
  text-align: center;
  font-size: 35px;
  margin: 30px auto;
}

.dimmer {
  color: #444;
  font-size: 28px;
}

button {
  margin: 10px auto;
  display: block;
  width: 150px;
  height: 50px;
  font-family: 'Schoolbell', arial;
  font-size: 25px;
  color: red;
  border-radius: 10px;
  animation-name: square;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

@keyframes square {
  0% {background-color: #aaa}
  25% {background-color: aqua}
  50% {background-color: pink}
  75% {background-color: yellow}
  100% {background-color: coral}
}

.invisible {
  visibility: hidden;
}

.disappear {
  display: none;
}
